@font-face {
  font-family: console;
  src: url("../public/font.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "console";
  color: $color-white;
  text-align: center;
}

.main_container {
  padding: 0 !important;
  width: 100vw;
  // margin-bottom: 100px;
}

body {
  background-color: $color-grey;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  // height: 90vh;
  padding-bottom: 10vh;
}

.footer {
  // display: none;
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: $color-grey-3;
}
